<ion-header>
  <ion-toolbar>
    <ion-title> Booking Application </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="primary" routerLink="/flight">
    Flight Booking
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/hotel">
    Hotel Booking
  </ion-button>

  <h1>Welcome to My Ionic App</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Getting Started</ion-card-title>
      <ion-card-subtitle>Ionic Framework</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Build amazing cross-platform apps with Ionic. This is a quick example of
      how to create an interactive card.
    </ion-card-content>
  </ion-card>
</ion-content>
